# Django framework
Django=3.2.25

# Django REST Framework pour l'API
djangorestframework=0.1.0

# Pour permettre l'accès à l'API depuis ton frontend Node.js (CORS)
django-cors-headers=4.1.0
djangorestframework-simplejwt=5.3.0

